@page
@model p2pclient.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the P2P File Sharing Application</h1>
    <p class="lead">This application allows you to upload, download, and manage files in a peer-to-peer network.</p>
    <hr class="my-4">
    <p>Get started by managing your files.</p>
    <a class="btn btn-primary btn-lg" href="/Files" role="button">Manage Files</a>
</div>
